
<% if(user.RoleId == 1){ %> 
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <div class="text-center">
      <a href="/" class="brand-link">
        <img src="/img/logo.png" alt="Atos Logo" class="img-fluid" style="height: 55.5px;">
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="/" class="nav-link d-flex <% if(path === "home"){ %>active<% } %>">
                <div class="flex-wrap">
                  <i class="nav-icon fas fa-home"></i>
                </div>
                <div class="flex-fill text-center">
                  <p class="text">Home</p>
                </div>
              </a>
            </li>
          <li class="nav-item">
            <a href="/admin" class="nav-link d-flex <% if(path === "users" || path === "euser"){ %>active<% } %>">
              <div class="flex-wrap">
                <i class="nav-icon fas fa-users"></i>
              </div>
              <div class="flex-fill text-center">
                <p class="text">Users</p>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/add-user" id="test" class="nav-link d-flex <% if(path === "user"){ %>active<% } %>">
              <div class="flex-wrap">
                <i class="nav-icon fas fa-user-tie"></i>
              </div>
              <div class="flex-fill text-center">
                <p>Add User</p>
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
<!-- End of Main sidebar container -->
<% }else{ %> 
  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <div class="text-center">
      <a href="/" class="brand-link">
        <img src="/img/logo.png" alt="Atos Logo" class="img-fluid" style="height: 55.5px;">
      </a>
    </div>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column text-center" data-widget="treeview" role="menu"
          data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/employee" class="nav-link <% if(path === "home"){ %>active<% } %>" id="asd">
              <i class="nav-icon fas fa-home"></i>
              <p class="text">Home</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- End of Main sidebar container -->
<% } %> 