<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <!-- head -->
    <%- include('includes/head.ejs') %>
    <!-- CSS of current view -->
    <!--
        Example
        <link rel="stylesheet" href="/css/pages/empleado/vacancies.css">
    -->
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
      
        <!-- /.navbar -->
        <!-- SideBar -->
       
        <!-- /.SideBar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-3">
            <h1>Welcome back <%= user.name %> </h1>
        </div>
        <!-- Footer -->
        <%- include('./includes/footer.ejs') %>
        <!-- /.footer -->


    </div>
    <!-- ./wrapper -->


    <!-- Scripts -->
    <%- include('includes/scripts.ejs') %>

    <!-- End Scripts-->

</body>


</html>